
      body{
        background-image:#f8f8ff;
      }

      header{
        background-color:#f5deb3;
        color:white;
        padding:15px;
        font-size:60px;
        text-align:center;
        
      }
     nav {
  color: white;
  background-color:#cd853f;
  text-align: center;
  font-size: 20px
  }
      article { 
  margin-left: 10%;
  margin-right: 10%
  }
      h1{
        color:#696969;
        font-size:35px;
      }
      table, td, tr {
        border: 2px solid white;
        background:black;
        color:white;
        float:center;
        width: 600px;
        height: 50px;
        font-size:27px;
        font-align: center;
      }
      img.redonda {
        width: 200px;
        height: 200px;
        background-color: #000;
        color: #FFF;
        border-radius: 50%;
           }
      ul{
        color:#cd853f;
        font-size:27px;
      }
      h2{
        text-align:center;
        font-size:35px;
        color:#cd5c5c;
      }
      p{
      font-size:32px;
      color:#8b4513;    
        
      }

      footer{
        color:#cd853f;
        background-color:#f5deb3;
        font-size:20px;
        height:60px; 

      }

